In [7]:
#Q1

d = "pradhuman"
lst = [1,2,3,"astra",8.3]
flt = 4.0
tup = (2,3,4,"hello pw team",3.2)

#Q2 

1= string 
2 = string 
3 = list 
4 = float

#Q3

1 = / : used for divisionn of two numbers and return a floating point number . 
code  : 
    45/5

2 = % : it is a modulo operator used to print only he remainder 
code : 
    49%3
    
3 = // : it is a floor division operator used for storing the result to nearest whole number 
code : 
    45//6
    
4 = ** : it is used to calculate the power of a number 
code :
    3**2 will give 9 .

In [17]:
#Q4

pd = [1,2,3.0,5.2,"hello","prady",'s',45,'a',75]
for j in pd : 
    print (j)

1
2
3.0
5.2
hello
prady
s
45
a
75

In [27]:
#Q5

num1 = int (input("Enter number 1 : "))
num2 = int (input ("Enter number 2 : "))
count = 0 
while num1>=num2 : 
    count +=1
    num1 = num1- num2  
if (num1== 0) : 
    print ("number is completely divisible by ",num2,",",count,"times")
else : 
    print ("number is not completely divisible by ",num2)

Enter number 1 :  24
Enter number 2 :  8

number is completely divisible by  8 , 3 times

In [23]:
#Q6

lst = list(range (1,26))
for i in lst : 
    if (i%3==0 ):
        print (i,"is divisible by 3 ")
    else : 
        print (i,"is not divisible by 3 ")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

#Q7

mutable data are the data types which can be changed or whose value can be modified after the declaration of a data type 
eg  list , dictionaries . 
where as a immutable data types are the data types whose value cant be modified after the variable has been declared 
eg tuples .